[submodule "qits-spa-ci"]
	path = service/src/main/webui
	url = https://github.com/QuicklyIterateTheSoftware/qits-spa-ci.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-eventstream"]
	path = eventstream
	url = https://github.com/QuicklyIterateTheSoftware/qits-eventstream.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-integrations-quarkus"]
	path = qits-integrations-quarkus
	url = https://github.com/QuicklyIterateTheSoftware/qits-integrations-quarkus.git
	ignore = all
	update = merge
	branch = main
